<% form_for @idea do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :_ip, :value => request.remote_ip %>
  <%= f.hidden_field :_lang, :value => "en-us" %>
  <%= f.hidden_field :_geo, :value => "39.820521,-75.184901" %>
  <%= f.hidden_field :_client, :value => "web" %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
