<h1>Listing pieces</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @pieces.each do |piece| %>
  <tr>
    <td><%=h piece.title %></td>
    <td><%=h piece.description %></td>
    <td><%= link_to 'Show', piece %></td>
    <td><%= link_to 'Edit', edit_idea_piece_path(piece) %></td>
    <td><%= link_to 'Destroy', [@idea, piece], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New piece', new_idea_piece_path %>